/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #ff3e00;
    --color-theme-3: rgb(255, 81, 0);
    --color-theme-2: #4075a6;
    --color-text: #475164;
    --color-text-hint: #969fb0;
    --color-divider: #ebedf0;
    --background-input: #ebedf0;
    --background-hover: #f6f6f9;
    --background-selected: #f0f2f5;
    --background-toast: rgb(1, 166, 1);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    --color-href: #0096fa;
    --code-background: #ceeaff;
    --warn-background: #ffd3c3;
    --warn-text-color: #ff4e05;
    color: var(--color-text);
}
