---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/md.css'
import Navigation from '../components/Navigation.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---


<!doctype html>
<html>
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<!--<Header />-->
<div class="content">

    <div class="main">
        <div class="title">文档正在加急完善中...</div>
        <div class="default-nav">
            <a href="/">回到目录</A>
        </div>
    </div>
</div>
<Footer/>
</body>
</html>
<style>
    .content {
        display: flex;
        height: 100vh;
        justify-content: center;
    }

    .nav {
        display: none;
    }

    .default-nav {
        display: flex;
        justify-content: center;
        width: 768px;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-attachment: fixed;
        background-color: var(--color-bg-1);
        background-size: 100vw 100vh;
        background-image: radial-gradient(
                50% 50% at 50% 50%,
                rgba(255, 255, 255, 0.75) 0%,
                rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
    }

    .title {
        font-size: 50px;
        font-weight: bold;
        margin: 220px 0 80px 0;

    }

</style>