---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<script>
	// 在页面上找到所有带有 `alert` 类的按钮。
	const buttons = document.querySelectorAll('button.alert');

	// 处理每个按钮上的点击事件。
	buttons.forEach((button) => {
		button.addEventListener('click', () => {
			alert('按钮被点击了！');
		});
	});
</script>

<!doctype html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!--<Header />-->
		<div class="content">
			<button class="alert">Click me!</button>
			<a href="/docs/install/install">使用帮助</a>
		</div>
		<Footer />
	</body>
</html>
<style>
	.content{
		display: flex;
		height: 100vh;
	}
</style>