---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!--<Header />-->
		<div class="content">
			<Navigation />
			<main>

			</main>
		</div>
		<Footer />
	</body>
</html>
<style>
	.content{
		display: flex;
		height: 100vh;
	}
</style>