---
interface Frontmatter {
    title: string;
    description?: string;
}
// const allPosts = await Astro.glob<Frontmatter>('../pages/docs/**/*.mdx');

import TreeNode from './TreeNode.astro';

const docTree = [
    {
        title: '安装和激活',
        url: "",
        children: [
            {
                title: '安装小秘助理',
                url: "/docs/install/install",
            },
            {
                title: '激活小秘助理',
                url: "/docs/install/active",
            },
            {
                title: '安装Chrome浏览器插件',
                url: "/docs/install/install-chrome-plugin",
            },
            {
                title: '安装其他浏览器插件',
                url: "",
                children: [
                    {
                        title: '安装Edge插件',
                        url: "/docs/install/install-edge-plugin",
                    },
                    {
                        title: '安装QQ浏览器插件',
                        url: "/docs/install/install-qq-plugin",
                    },
                    {
                        title: '安装360极速浏览器X插件',
                        url: "/docs/install/install-360-plugin",
                    },
                ]
            },
        ],
    },
    {
        title: '快速入门',
        url: "",
        children: [
            {
                title: '功能介绍',
                url: "/docs/quick-start/introduction",
            },
            {
                title: '搭建第一个自动化应用',
                url: "/docs/quick-start/first-app",
            },
        ],
    },
    {
        title: '指令',
        url: "",
        children: [
            {
                title: '条件判断',
                url: "",
                children: [
                    {
                        title: '如果',
                        url: "/docs/ins/condition/if",
                    },
                    {
                        title: '否则 - 如果',
                        url: "/docs/ins/condition/elseif",
                    },
                    {
                        title: '否则',
                        url: "/docs/ins/condition/else",
                    },
                    {
                        title: '图像是否存在',
                        url: "/docs/ins/condition/if-picture",
                    },
                    {
                        title: '文字是否存在(OCR)',
                        url: "/docs/ins/condition/if-text",
                    },
                ]
            },
            {
                title: '循环',
                url: "",
                children: [
                    {
                        title: '次数循环',
                        url: "/docs/ins/loop/index-loop",
                    },
                    {
                        title: '条件循环',
                        url: "/docs/ins/loop/condition-loop",
                    },
                    {
                        title: '列表循环',
                        url: "/docs/ins/loop/list-loop",
                    },
                    {
                        title: '无限循环',
                        url: "/docs/ins/loop/while-loop",
                    },
                    {
                        title: '继续下次循环',
                        url: "/docs/ins/loop/continue-loop",
                    },
                    {
                        title: '退出当前循环',
                        url: "/docs/ins/loop/break",
                    },
                    {
                        title: '循环电子表格',
                        url: "/docs/ins/loop/loop-excel",
                    },
                ]
            },
            {
                title: '等待',
                url: "",
                children: [
                    {
                        title: '暂停',
                        url: "/docs/ins/wait/",
                    },
                    {
                        title: '等待图像',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '等待文字(OCR)',
                        url: "/docs/ins/loop/",
                    },
                ]
            },
            {
                "title": "网页自动化",
                "children": [
                    {
                        "title": "打开网页",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "关闭网页",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取已打开的网页",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取已打开的所有网页",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "元素操作",
                        "children": [
                            {
                                "title": "点击网页元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "填写网页输入框",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "鼠标悬停在网页元素上",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "设置网页下拉框",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "设置网页多选框",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取网页元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取网页关联元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取网页相似元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "网页相似元素列表去重",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "网页元素滚动到窗口内",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "网页元素是否存在",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "网页文本是否存在",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "网页操作",
                        "children": [
                            {
                                "title": "执行JS脚本",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取网页像素缩放比例",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "数据提取",
                        "children": [
                            {
                                "title": "网页截图",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取网页元素属性",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "桌面软件自动化",
                "children": [
                    {
                        "title": "点击桌面元素",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标悬停在桌面元素上",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "填写桌面输入框",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取桌面相似元素",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取桌面关联元素",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取桌面元素",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "桌面元素是否存在",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "窗口操作",
                        "children": [
                            {
                                "title": "获取窗口对象",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "激活窗口",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "设置窗口状态",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "显示/隐藏窗口",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "移动窗口",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "调整窗口大小",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "关闭窗口",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取窗口对象列表",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "数据提取",
                        "children": [
                            {
                                "title": "桌面元素截图",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取桌面元素属性",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "鼠标键盘",
                "children": [
                    {
                        "title": "滚动鼠标",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标拖动",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标点击",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "移动鼠标",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标悬停在图像上",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "点击图像",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "键盘输入",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标悬停在文字上(OCR)",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "鼠标点击文字(OCR)",
                        "url": "/docs/ins/"
                    }
                ]
            },
            {
                "title": "Excel / WPS表格",
                "children": [
                    {
                        "title": "打开 / 新建表格",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "关闭电子表格",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "内容读写",
                        "children": [
                            {
                                "title": "读取表格格式数据",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "读取表格展示数据",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "写入表格",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "单元格插入图片",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "删除单元格图片",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "行 / 列操作",
                        "children": [
                            {
                                "title": "表格总行数",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "表格总列数",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "Sheet页操作",
                        "children": [
                            {
                                "title": "添加Sheet页",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "删除Sheet页",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "激活Sheet页",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取Sheet页名称",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "Sheet页是否存在",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "对话框",
                "children": [
                    {
                        "title": "打开消息弹窗",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "打开输入对话框",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "是否点击指定的按钮",
                        "url": "/docs/ins/"
                    }
                ]
            },
            {
                "title": "数据处理",
                "children": [
                    {
                        "title": "设置变量",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取全局变量",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "生成随机数",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "生成词云",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "列表操作",
                        "children": [
                            {
                                "title": "列表添加数据",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "操作系统",
                "children": [
                    {
                        "title": "截屏",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "文件",
                        "children": [
                            {
                                "title": "删除文件",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "删除文件夹",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "复制文件",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "复制文件夹",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "读取文件",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "写入文件",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取文件列表",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "流程",
                "children": [
                    {
                        "title": "调用流程",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "结束流程",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "停止自动化",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "调用导入的指令",
                        "url": "/docs/ins/"
                    }
                ]
            },
            {
                "title": "人工智能",
                "children": [
                    {
                        "title": "光学字符识别(OCR)",
                        "children": [
                            {
                                "title": "通用文字识别",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "证件识别",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "验证码",
                        "children": [
                            {
                                "title": "字符验证码",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "图片旋转验证码",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "滑块验证码",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "文字点选验证码",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "网络",
                "children": [
                    {
                        "title": "邮件",
                        "children": [
                            {
                                "title": "发送邮件",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "HTTP",
                        "children": [
                            {
                                "title": "下载文件",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "手机",
                "children": [
                    {
                        "title": "连接手机",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "手机元素操作",
                        "children": [
                            {
                                "title": "点击手机元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "手机元素是否存在",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取手机元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取手机相似元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取手机关联元素",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "手机元素截图",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "手机操作",
                        "children": [
                            {
                                "title": "点击手机按键",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "点击手机屏幕",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "滑动手机屏幕",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "打开手机APP",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "关闭手机APP",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "手机输入文字",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "手机屏幕截图",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "旋转手机屏幕",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "点亮手机屏幕",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "熄灭手机屏幕",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "手机执行Shell命令",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "显示/隐藏点按位置",
                                "url": "/docs/ins/"
                            }
                        ]
                    },
                    {
                        "title": "手机数据处理",
                        "children": [
                            {
                                "title": "获取手机文件",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "发送文件到手机",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "复制到手机粘贴板",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取手机粘贴板文本",
                                "url": "/docs/ins/"
                            },
                            {
                                "title": "获取手机屏幕方向",
                                "url": "/docs/ins/"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "其他",
                "children": [
                    {
                        "title": "输出日志",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "插入Python代码",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "拦截错误",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "如果拦截到错误",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "如果未拦截到错误",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "获取拦截到的错误",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "触发错误",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "隐藏小秘进度窗口",
                        "url": "/docs/ins/"
                    },
                    {
                        "title": "并行循环列表",
                        "url": "/docs/ins/"
                    }
                ]
            }

        ],
    },
];
---
<!--<ul>-->
<!--    {allPosts.map((post) =>-->
<!--            <li><a href={post.url}>{post.frontmatter.title}</a></li>)}-->
<!--</ul>-->

<TreeNode node={docTree}/>
<style>

</style>