---
interface Frontmatter {
    title: string;
    description?: string;
}
// const allPosts = await Astro.glob<Frontmatter>('../pages/docs/**/*.mdx');

import TreeNode from './TreeNode.astro';

const docTree = [
    {
        title: '安装和激活',
        url: "",
        children: [
            {
                title: '安装小秘助理',
                url: "/docs/install/install",
            },
            {
                title: '激活小秘助理',
                url: "/docs/install/active",
            },
            {
                title: '安装Chrome浏览器插件',
                url: "/docs/install/install-chrome-plugin",
            },
            {
                title: '安装其他浏览器插件',
                url: "",
                children: [
                    {
                        title: '安装Edge插件',
                        url: "/docs/install/install-edge-plugin",
                    },
                    {
                        title: '安装QQ浏览器插件',
                        url: "/docs/install/install-qq-plugin",
                    },
                    {
                        title: '安装360极速浏览器X插件',
                        url: "/docs/install/install-360-plugin",
                    },
                ]
            },
        ],
    },
    {
        title: '快速入门',
        url: "",
        children: [
            {
                title: '功能介绍',
                url: "/docs/quick-start/introduction",
            },
            {
                title: '搭建第一个自动化应用',
                url: "/docs/quick-start/first-app",
            },
        ],
    },
    {
        title: '指令',
        url: "",
        children: [
            {
                title: '条件判断',
                url: "",
                children: [
                    {
                        title: '如果',
                        url: "/docs/ins/condition/if",
                    },
                    {
                        title: '否则 - 如果',
                        url: "/docs/ins/condition/elseif",
                    },
                    {
                        title: '否则',
                        url: "/docs/ins/condition/else",
                    },
                    {
                        title: '图像是否存在',
                        url: "/docs/ins/condition/if-picture",
                    },
                    {
                        title: '文字是否存在(OCR)',
                        url: "/docs/ins/condition/if-text",
                    },
                ]
            },
            {
                title: '循环',
                url: "",
                children: [
                    {
                        title: '次数循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '条件循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '列表循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '无限循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '继续下次循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '退出当前循环',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '循环电子表格',
                        url: "/docs/ins/loop/",
                    },
                ]
            },
            {
                title: '等待',
                url: "",
                children: [
                    {
                        title: '暂停',
                        url: "/docs/ins/wait/",
                    },
                    {
                        title: '等待图像',
                        url: "/docs/ins/loop/",
                    },
                    {
                        title: '等待文字(OCR)',
                        url: "/docs/ins/loop/",
                    },
                ]
            },

        ],
    },
];
---
<!--<ul>-->
<!--    {allPosts.map((post) =>-->
<!--            <li><a href={post.url}>{post.frontmatter.title}</a></li>)}-->
<!--</ul>-->

<TreeNode node={docTree}/>
<style>

</style>